@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Rubik&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #14c0ff   ;
    --secondary-color: #941c2f ;
    --accent1-color: #03191e;
    --accent2-color: #c4bbaf;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Akaya Telivigala";
    --paragraph-font: Rubik, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
    --headline-color-on-color: var(--accent2-color); /* headlines on a colored background */ 
    --paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */ 
    --paragraph-color-on-color: var(--accent2-color); /* paragraph text on a colored background */ 
    --paragraph-background-color: #941c2f  ;
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--accent1-color);
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: var(--primary-color);
  }


/* home page css*/
.homebody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
.logo {
    grid-column: 3/4;
}
.logo img{
    margin: 0 auto;
    margin-top: 35px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    
}
.navbar {
    grid-column: 1/6;
    grid-row: 2/3;
    margin: 0 auto;
    background-color: #03191e;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}
.footnav {
    background-color: #03191e;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}
.navbar a, .footnav a {
    color:#14c0ff;
    text-decoration: none;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 1.5em;
    padding: 40px;
}
.navbar a:hover, .footnav a:hover {
    color: var(--accent2-color);
    background-color: #14c0ff;
    border-radius: 8px;
}

.indcontent {
    background-color: #941c2f;
    grid-column: 1/6;
    grid-row: 4/8;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    text-align: center;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}
.indcontent img {
    width: 100%;
    margin: 0 auto;
}
.indcontent h3 {
    font-family: 'Akaya Telivigala', cursive;
    font-size: 1.5em;
    color: var(--accent2-color);
}
.indcontent p {
    font-family: 'Rubik', sans-serif;
    color: var(--accent2-color);
}
.item1 {
    grid-column: 1/2;
}
.item2 {
    grid-column: 2/3;
}

#totop {
    display: block; 
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:#14c0ff; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-family: var(--heading-font);
  }
  
  #totop:hover {
    background-color: #c4bbaf; /* Add a dark-grey background on hover */
    color:#941c2f;
  }
.foot {
    grid-column: 1/6;
    grid-row: 13/14;
    margin: 0 auto;
}


/* How to page CSS */


.howtobody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
.howcontent {
    grid-column: 1/6;
    grid-row: 4/8;
    background-color: #941c2f;
    padding-bottom: 40px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.howcontent h3 {
    font-family: var(--heading-font);
    color:#c4bbaf;
    font-size: 1.5em;
    text-align: center;
}
.display {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    background-color: #c4bbaf;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}
.display h5 {
    font-family: var(--heading-font);
    grid-column: 1/3;
    text-align: center;
    color: black;
    font-size: 1.1em;
}
.display p {
    grid-column: 1/2;
    font-family: var(--paragraph-font);
    color: black;
}
.display img {
    grid-column: 2/3;
    width: 100%;
    border-radius: 8px;
}
.organized {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    background-color: #c4bbaf;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.organized h5 {
    font-family: var(--heading-font);
    grid-column: 1/3;
    text-align: center;
    color: black;
    font-size: 1.1em;
}
.organized p {
    grid-column: 1/2;
    font-family: var(--paragraph-font);
    color: black;
}
.organized img {
    grid-column: 2/3;
    width: 100%;
    border-radius: 8px;
}

/*Why Page CSS*/

.whybody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    margin-left: 20%;
    margin-right: 20%;
}
.whycontent {
    grid-column: 1/6;
    grid-row: 4/6;
    background-color: var(--accent2-color);
    padding-top:40px;
    padding-bottom: 40px;
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.whycontent img {
    grid-column: 2/3;
    width: 220px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
#question {
    grid-row: 2/3;
    margin: 0 auto;
}
#sol {
    grid-row: 4/5;
    margin: 0 auto;
}
.whycome {
    background-color: #14c0ff;
    color: #03191e;
    padding-left: 20px;
    padding-right: 20px;
    grid-column: 1/2;
    grid-row: 1/6;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.whycome p {
    font-family: var(--paragraph-font);
}
.whycome h5 {
    font-size: 1.1em;
    font-family: var(--heading-font);
    text-align: center;
}
.whyhere {
    background-color: #14c0ff;
    color: #03191e;
    padding-left: 20px;
    padding-right: 20px;
    grid-column: 3/4;
    grid-row: 1/6;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.whyhere p {
    font-family: var(--paragraph-font);
}
.whyhere h5 {
    font-size: 1.1em;
    font-family: var(--heading-font);
    text-align: center;
}
